body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: hotpink;
}


.nav-container {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 10px;
}

.nav1 {
    background-color: lightgreen;
    padding: 10px;
}


.nav1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.nav1 li {
    display: inline;

}

.nav1 a {
    text-decoration: none;
    color: black;
    background-color: navajowhite;
    padding: 5px 15px;
    position: relative;

}

.nav1 a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #0a65c7;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.nav1 a:hover::after {
    transform: scaleX(1);
}



.nav1 .login-btn {
    background-color: orange;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}


.nav2{
    background-color: cadetblue;
    width: 200px;
    padding: 20px;
}

.nav2 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav2 li{
    margin-bottom: 12px;

}
.nav2 a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    width: 100%;
}

.nav2 a:hover{
    background-color: orange;
}

.nav2 .login-btn{
    background-color: deepskyblue;
    color: black;
    border: none;
    width: 100px;
    padding: 10px;
    cursor: pointer;
    margin-left: 20px;
}

.nav2 .login-btn:hover{
    background-color: red;
    border: 1px solid red;
}

.nav3{
    background-color: rgb(128, 112, 135);
    padding: 10px;
}
.nav3 ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav3 a{
    text-decoration: none;
    color: white;
    display: block;

}

.nav3 .dropdown-content{
    display: none;

}

.nav3 .dropdown:hover .dropdown-content{
    display: block;
    position: absolute;
    background-color: darkred;
    min-width: 150px;
}

.nav3 .login-btn {
    background-color: orange;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

 .nav3 .login-btn:hover{
    background-color: blue;
}